.showCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
}

.card-content {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  width: 32%;
  height: auto;
  img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
  }
  p {
    text-align: justify;
    padding: 0;
  }
}

@media (max-width: 1050px) {
  .showCards {
    display: none;
  }
}
