.nav-container {
  flex-direction: column;
  background-color: #5a5a6f;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
}

.sub-nav-container, #categories {
  width: 100%;
  max-width: 1050px;
  z-index: 2;
}

.sections {
  width: 100%;
  display: flex;
}

.logo {
  font-size: 1em;
  min-width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: #77AF7A;
    span:nth-child(2) {
      color: #3b34b3;
    }
  }
  span:first-child {
    font-size: 1em;
    margin-right: .3em;
  }
  span:nth-child(2) {
    color: #00e7ff;
    font-size: .8em;
  }
}

.nav-elements {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #5a5a6f;
  z-index: 1;
}

.nav-list {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  cursor: pointer;
  &:hover {
    background-color: #77AF7A;
  }
}

.nav-link {
  display: block;
  padding: .7em;
  text-decoration: none;
  color: #fff;
}

.nav-link span:first-child {
  position: relative;
  font-size: 1.2em;
  margin: 0;
  .display-cart-items {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -3px;
    right: 0;
    left: 15px;
    background-color: #F00;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    width: 17px;
    line-height: 17px;
  }
}

.nav-link span:nth-child(2) {
  display: none;
}


.search-box {
  width: 100%;
  display: flex;
  margin-right: 1em;
}

.search-box form {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-box input {
  display: flex;
  height: 2.4em;
  width: 100%;
  padding: 0 10px;
  margin: 0.7em 0;
  border-radius: .3em;
  border: none;
  align-items: center;
  &:focus {
    outline: 0;
  }
}

.search-box button {
  display: flex;
  font-size: 0.8em;
  font-family: 'Noto Sans JP', sans-serif;
  color: #FFF;
  cursor: pointer;
  height: 100%;
  border: none;
  background-color: transparent;
  align-items: center;
  margin-right: .4em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: #77AF7A;
  }
  &:focus {
    outline: 0;
  }
}


#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 350px;
  background-color: #5a5a6f;
  text-align: center;
  .header-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    max-width: 220px;
    width: 220px;
    h3 {
      font-weight: 500;
      padding-left: .4em;
    }
    .close-navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid #fff;
      max-width: 150px;
      width: 1.5em;
      height: 1.5em;
      cursor: pointer;
      // background: #5a5a6f;
      background-color: #5a5a6f;
      line-height: 1.5em;
      margin-right: .5em;
    }
  }
}

#cat-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#category-menu {
  max-width: 220px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;
  list-style: none;
  padding: 0;
  text-align: left;
}

.category-item {
  display: inline;
  flex-shrink: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:hover {
    background-color: #77AF7A;
  }
  .active-link {
    text-decoration: underline;
    text-decoration-color: #ab76ed;
    text-decoration-thickness: 2px;
  }
  a {
    min-width: 0;
    font-size: .8em;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1em;
    border-bottom: 1px solid #fff;
  }
}

.inactive-link {
  pointer-events: none;
  cursor: default;
}

#collapse-menu {
  position: relative;
  display: none;
  border: none;
  padding: 0;
  cursor: pointer;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 100%;
    color: #fff;
    background-color: #5a5a6f;
    &:hover {
      background-color: #aeaedf;
    }
  }
  #open-menu {
    display: none;
    flex-direction: column;
    width: auto;
    position: absolute;
    top: 44px;
    right: 0;
    z-index: 2;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #5a5a6f;
    li {
      margin: 0;
      display: flex;
      justify-content: flex-end;
    }
    a {
      white-space: nowrap;
      font-size: .8rem;
      border: none;
    }
  }
}

@media (min-width: 768px) {
  .sections {
    justify-content: center;
  }
  .nav-elements {
    position: static;
    width: auto;
  }
  .nav-link {
    display: flex;
    align-items: center;
  }
  .search-box {
    padding: 0;
    width: auto;
    button {
      font-size: 1em;
    }
  }
  #categories {
    position: static;
    z-index: auto;
    flex-direction: row;
    height: auto;
    background-color: #5a5a6f;
    .header-categories {
      display: none;
    }
    #category-menu {
      width: 100%;
      max-width: 1050px;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0;
      a {
        border: none;
      }
    }
  }
}

@media (min-width: 900px) {
  .nav-link span:nth-child(2) {
    display: flex;
  }
  .nav-link span:first-child {
    margin-right: .4em;
  }
}
