.detailed-product-page {
  justify-content: center; // may be deleted for mobile size
  width: 100%;
  min-width: 360px;
}

header {
  position: relative;
  display: none;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
  h1 {
    font-size: 24px;
    padding: 0;
    font-weight: 600;
    // margin: 0;
  }
  &:after {
    position: absolute;
    bottom: 0;
    content: ' ';
    border-bottom: 0.1rem solid #d6dbe0;
    width: inherit;
  }
}

.inner-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  h2 {
    text-align: center;
    font-weight: 400;
  }
}

.sub-img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-block {
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 360px;
  height: 400px;
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.description-block {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  dl {
    color: #5a6c7d;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 0.8em;
    width: 100%;
    dt {
      display: block;
      position: relative;
      &:before {
        border-bottom: 1px dotted rgba(0,26,52,.16);
        bottom: .2em;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
    dt, dd {
      width: 50%;
      margin: 0;
      padding: 0
    }
    dd {
      padding-left: 0.2em;
    }
    span {
      position: relative;
      background-color: #fff;
    }
  }
}

.specifications {
  margin-bottom: 110px;
  padding: 0 10px;
}

.button-div {
  position: fixed;
  bottom: 50px;
  padding: 7px 0;
  left: 0;
  // height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffe9f4;
  border-top: 1px solid #eddcdc;
}

.add-to-cart-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  cursor: pointer;
  // min-width: 350px;
  margin: 0 5px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #005bff;
  color: #fff;
  .add {
    font-weight: 600;
    font-size: 1em;
  }
  .product-price {
    margin-top: 2px;
    font-weight: 100;
  }
}


@media (min-width: 768px) {
  .detailed-product-page {
    width: auto;
    max-width: 1050px;
    min-width: 360px;
  }

  header {
    display: flex;
  }

  .inner-block {
    justify-content: space-around;
    max-width: 1050px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .image-block {
    display: flex;
    width: auto;
  }

  .phone-images {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 56px;
      height: 56px;
      border: 2px solid transparent;
      border-radius: 3px;
      &:hover {
        border-color: #99bdff;
        border: 2px solid #99bdff;
        border-radius: 3px;
      }
      img {
        width: 48px;
        height: 48px;
        object-fit: contain;
      }
    }
  }

  .description-block {
    width: auto;
    h2 {
      margin: 0;
      width: 100%;
      text-align: left;
    }
    .specifications {
      margin: 0;
      padding: 0;
    }
  }
  .logic-block {
    // flex: 0 0 100%;
    overflow: hidden;
    border-radius: 8px;
    border: 1px #D5D9D9 solid;
    width: 200px;
    .button-div {
      border-top: 0;
      position: static;
      flex-direction: column;
      background-color: #fff;
      // border: none;
      padding: 15px;
      p {
        margin: 0;
        margin-bottom: 15px;
      }
      .add-to-cart-button {
        width: auto;
        margin: 0;
        padding: 7px 0;
        border-radius: 15px;
        &:hover {
          background-color: #003ca8;
        }
      }
      .add-to-list {
        background-color: #ffd814;
        cursor: pointer;
        margin: 0;
        margin-top: 15px;
        padding: 7px 0;
        border: none;
        border-radius: 15px;
        color: #000;
        // color: #fff
        &:hover {
          background-color: rgb(216, 217, 54);

        }
      }
    }
  }
}
