/* SLIDER JSX */

#slider-component {
  position: relative;
  min-width: 360px;
  max-width: 1050px;
  margin-bottom: 25px;
  overflow: hidden;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow img:focus {
 outline: 0;
}

.arrow img {
  width: 22px;
}
