#slider-component {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 450px;
  max-width: 1050px;
  min-width: 360px;
  margin-bottom: 25px;
  overflow: hidden;
}

.smooth {
  max-height: 450px;
}

.slide-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow {
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  opacity: 0.8;
  user-select: none;
  cursor: pointer;
  transition: transform ease-in 0.1s;
  background-color: #fff;
  img {
    width: 22px;
    &:focus {
      outline: 0;
    }
  }
  &:hover {
    background-color: #f8b6b6;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
}
