@import "./navbar.scss";
@import "./containerCompStyles.scss";
@import "./slider.scss";
@import "./goods.scss";
@import "./footer.scss";
@import "./content.scss";
@import "./commonProductStyles.scss";
@import "./listcard.scss";
@import "./footerSupport";
@import "./cart";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%; //DELETE TO SHOW BOTTOM SCROLLBAR
}

.default-porps {
  display: flex;
  flex-direction: row;
  max-width: 1050px;
  height: 100%;
}

.stack {
  width: 100%;
  max-width: 1050px;
}
