.wishlist-container {
  min-width: 360px;
  padding: 0 10px;
  padding-top: 15px;
}

.empty-list {
  p {
    color: #007185;
    text-align: justify;
  }
}

.wishlist-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.amount-of-items {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #d2d9df;
}

.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #d2d9df;
  background-color: #f5f7f8;
  border-radius: 5px;
  margin-bottom: 0;
  width: 100%;
  padding: 10px;
}

.wishlist-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom: 1px solid #d2d9df;
  border: 1px solid #d2d9df;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
}

.wishlist-info {
  display: flex;
}

.wishlist-image {
  img {
    width: 100px;
    height: 200px;
    object-fit: contain;
  }
}

.wishlist-specs {
  margin-left: 15px;
  h3 {
    margin: 0;
    font-weight: 500;
    &:after {
      content: " \0024";
    }
  }
  h2 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
  }
  div {
    display: flex;
    align-items: center;
    p {
      margin: 0;
    }
  }
}

.addRemoveBtn {
  margin-left: 1em;
  button {
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: #33e456;
    border: none;
    border-radius: 3px;
    &:first-child:hover {
      background-color: #16F241;
    }
    &:nth-child(2) {
      margin-left: 3px;
      background-color: #FA4F4F;
    }
    &:nth-child(2):hover {
      background-color: #F62626;
    }
  }
  span {
    width: 25px;
    margin-left: 3px;
    border-radius: 3px;
    line-height: 17px;
  }
}

.wishlist-buttons {
  display: flex;
  width: 100%;
  margin-top: 10px;
  button {
    width: 50%;
    margin: 0 3px;
    padding: 5px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .wishlist-list-added {
    color: #fff;
    background-color: #3dbe52;
  }
}

.wishlist-list {
  background-color: #f6de66;
  &:hover {
    background-color: #ffd814;
  }
}

.wishlist-remove {
  background-color: #FA4F4F;
  color: #fff;
  &:hover {
    background-color: #F62626;
  }
}

@media (min-width: 768px) {
  .wishlist-container {
    max-width: 1050px;
    width: 100%;
    padding: 15px 30px;
  }

  .wishlist-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .wishlist-items {
    margin-bottom: 0;
  }

  .wishlist-item {
    max-width: 300px;
    width: 100%;
    // margin-bottom: 10px;
  }

  .wishlist-specs {

  }

  .amount-of-items {
    border-bottom: none;
  }
}
